.home-background {
  background-image: url('../../../public/images/about-us/mandala-bg.webp');
}

.col-sm-3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.col-6 {
  margin-left: auto;
  margin-right: auto;
}

.card {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.orderImage {
  margin-left: 25%;
}